[2017-01-24 03:36] yuanyan opened #2 "Consider use react-web"
https://github.com/taobaofed/react-web

[2017-01-24 14:32] kevnk opened #4 "Project renaming help"
This project is an amazing start for my project! Thank you so much!

I'm wondering if you may be able to provide a list of files that would need to be changed if we wanted to name our project something other than `reactNativeEverywhere`

[2017-01-24 15:03] kevnk commented on #4
This worked for me!

`reactnativeeverywhere` → `myprojectname`
`react-native-everywhere` → `my-project-name`
`React-Native-Everywhere` → `My-Project-Name`
`reactNativeEverywhere` → `myProjectName`

*Note:* it's probably safer to rename everything before `npm install` - not 100% sure if that matters though

Here's what I have changed and it worked!

- yellow are modified files
- pinkish "R" files a

[2017-01-24 15:03] #4 closed

[2017-01-24 15:10] kevnk opened #5 "`npm run build` fails"
`$ npm run build`

[code]

`$ npm install -g babel-cli` solves that. But now there's no `tools/build.js` file

[2017-01-25 05:57] amilajack opened #6 "RFC: ESLint support"
Willing to make a PR for eslint support. Will this be welcome?

[2017-01-25 05:57] amilajack opened #7 "RFC: Flow support"
Willing to add flow support for this project. Will a PR for it be welcome?

[2017-01-25 09:29] amoghbanta commented on #6
Most welcome :)

[2017-01-25 09:31] amoghbanta commented on #7
Yeah sure!

[2017-01-25 18:02] #7 closed

[2017-01-25 18:02] #6 closed

[2017-01-25 18:10] amoghbanta commented on #2
hi @yuanyan,
You can go with react-web if you prefer that.
Just replace 'react-native-web' with react web in webpack config.
  alias: {
            'react-native': 'react-native-web', //change this to react-web
        }
and install the dependencies.

[2017-01-25 19:21] amilajack commented on #6
I think its better to keep this open until i get around to doing this

[2017-01-25 19:21] amilajack commented on #7
https://github.com/amoghbanta/reactNativeEverywhere/issues/6#issuecomment-275205734

[2017-01-25 19:23] amilajack opened #8 "Enable Travis CI support"
Would be great if travis could be enabled for this repo. I'll setup some tests

[2017-01-25 19:23] amilajack opened #9 "Enable Greenkeeper support"

[2017-01-25 19:51] amilajack opened #10 "Babel not configured"
babel deps are in package.json but not being used.

[2017-01-25 19:52] amilajack opened #11 "Rename reactNativeEverywhere -> react-native-everywhere"
This is npm's convention

[2017-01-25 19:52] amilajack commented on #11
Github will automatically handle forwarding from old GitHub repo name so users won't see 404's

[2017-01-25 19:54] amilajack commented on #8
Willing to PR for this. Just need to make sure that okay with enabling tests

[2017-01-28 22:53] christopherhein opened #13 "Question: Usage with Electron vs Targeting macOS + windows separately"
Purely from an educational standpoint what would be the purpose of targeting macOS and Windows as separate components when you could potentially use something like https://github.com/PaulLeCam/react-native-electron to make cross-platform desktop apps that would even include running on linux…

It seems to work with react-native-web obviously like this project it's still very new and probably not 10

[2017-01-28 23:29] christopherhein opened #14 "Proposal: React Navigation Vs React Native Flux Router / React Router"
Seems like the new https://github.com/react-community/react-navigation project could replace the need for the multiple handling of navigation in https://github.com/amoghbanta/reactNativeEverywhere/tree/master/src web integration is documented here - https://reactnavigation.org/docs/guides/web

Still new but curious if this would help reduce duplication. As well redux integration seems to flow a bi

[2017-01-29 12:57] amoghbanta commented on #14
Hi @christopherhein, I came across react-navigation couple of days back, haven't tried it yet but it is in the near plan to test it for web and native using  an all common code base. I completely agree that it  "could replace the need for the multiple handling of navigation" and reduce the duplication. Seems theoretically perfect to me  but i could comment on it better once I give it a try.

[2017-01-29 13:30] amoghbanta commented on #13
Hey @christopherhein, the main reason why i preferred keeping some components separate for different platforms was to utilize their native capabilities in the way they demand, which on the other hand increases my control on the application and keeps lower the complexity. It finally boils down to the requirements you have to cater in your project. In my personal opinion and experience, it is always

[2017-01-29 16:27] ximet opened #15 "Problem with react-native-icons-vector"
After run: npm run web, I have problem:

`ERROR in ./~/react-native-vector-icons/lib/create-icon-set.js
Module parse failed: /Users/myName/Project/MyProject/node_modules/react-native-vector-icons/lib/create-icon-set.js Unexpected token (37:21)
You may need an appropriate loader to handle this file type.
|
`

My webpack config for loader icons:
`{
                test   : /\.(ttf|eot|svg|woff(2)?)(

[2017-01-29 20:53] kkszysiu commented on #14
For now it doesn't work so good.

They web implementation is very limited for now. I'm trying to do something about it but so far no success.

That's the differences:
https://github.com/react-community/react-navigation/blob/master/src/react-navigation.js
https://github.com/react-community/react-navigation/blob/master/src/react-navigation.web.js

Without StackNavigator/TabNavigator it seems to be v

[2017-01-29 21:22] christopherhein commented on #14
Ah sweet, thanks for the info!

[2017-01-29 21:23] christopherhein commented on #13
Yeah, that makes a lot of sense - appreciate the response and amazing work so far on the proj!

[2017-01-29 21:23] #13 closed

[2017-01-29 22:23] kkszysiu commented on #14
After some tweaks I'm able to run StackNavigator :)
It should work the same on both Android, iOS and web.

The example from web:
![screen capture on 2017-01-29 at 23-17-38](https://cloud.githubusercontent.com/assets/70684/22408472/ac4a6cc2-e679-11e6-91e1-9d5425ec0d05.gif)

But TabNavigator is really what I desire here.

I will try to push some example how to implement it when I make some code clea

[2017-01-30 00:42] christopherhein commented on #14
Oh should I reopen @kkszysiu ?

[2017-01-30 11:39] ppsreejith commented on #14
@kkszysiu , how did you get the css to work? Changing the react-navigation.web.js file allowed me to use StackNavigator but the css is all broken

[2017-02-04 19:16] #11 closed

[2017-02-04 19:17] amilajack commented on #11
Why was this closed?

[2017-02-04 19:21] #2 closed

[2017-02-04 19:25] amoghbanta commented on #11
hey @amilajack, this issue was resolved, the project has been renamed as per your suggestion.

[2017-02-08 17:36] christopherhein commented on #14
@kkszysiu did you do this in a fork somewhere? wanted to check out what was required to get it working

[2017-03-04 09:12] amoghbanta commented on #5
hey @kevnk
you need babel-cli in global scope for babel-node.
`npm i -g babel-cli`
I have also added the build script. Can you please check now.

[2017-03-04 15:04] fotiDim commented on #14
I guess this should be reopened as react-navigation is the way to go

[2017-04-03 09:36] sopaco opened #17 "the web page show nothing in production mode"
I generate the bundle.js via `npm run build`, and copy the file of `index.html` to the public folder, deploy them, but there is nothing shown in browser, what's wrong?

[2017-04-03 10:04] #17 closed

[2017-04-10 17:46] fotiDim commented on #14
@amoghbanta Any update on this?

[2017-04-10 18:55] amoghbanta commented on #14
hey @fotiDim, so I've working on a complete rewrite of react-native-everywhere. The update on this is that react-router guys released v4 and that is exactly what fits our requirement. My aim is to keep it more of plug and play where in you can just replace react-router with react-navigation if you prefer that. It'll be out in a couple of days.

[2017-04-10 19:31] fotiDim commented on #14
@amoghbanta any insights to share on where react navigation fell short?

[2017-04-18 06:56] sopaco opened #18 "[error]undefined is not a function (evaluating `babelHelpers.typeof(target`)"
it seems ok on web, but there has error when run on  android or ios devices with a native build, what's wrong?

![Uploading 273D3CFB-7775-432F-A346-7FF47FAD0027.png…]()

[2017-04-23 12:16] ajostergaard commented on #14
@amoghbanta - great work and thanks!!! Any news on the rewrite?

[2017-04-23 12:29] amoghbanta commented on #14
hey @ajostergaard, [this](https://github.com/amoghbanta/react-native-everywhere/tree/template) branch is where the rewrite is going on.
Now, since react-native supports [templates](https://github.com/facebook/react-native/pull/12548), so this project will be more of a template(supporting multiple platforms) with some additional scripts. No more git cloning. We are also working on a component libra

[2017-04-23 12:34] amoghbanta commented on #14
hey @fotiDim, its just that react-router's API was an exact match/requirement for us. I personally haven't played much with react-navigation so I can't comment. As i said earlier, it would be more of a plug and play thing, so you can use the one you feel is right for your project.

[2017-04-23 18:43] ajostergaard commented on #14
Thanks @amoghbanta. How mature is the template? Ready for a relative beginner to use for an app?

[2017-05-03 18:31] OlleMattsson commented on #18
Did you manage to solve this? I'm running into the same thing.

[2017-05-04 12:36] #18 closed

[2017-06-24 22:55] piranna opened #19 "Status of templates?"
Readme says that the refactor to using templates would be ready in two weeks, but it was two months ago... Could you be able to give an update of the progress and an stimate time for it? Is it ready to start a new project although it's not in the master branch?

[2017-06-25 16:01] amoghbanta commented on #19
Hey @piranna,
I tested the template on all the platforms and it does the work. There is still a lot of work that needs to be done but its at a stage to get you started.

[2017-06-25 16:04] amoghbanta commented on #14
Template is ready to be used, you guys can give it a try and as of now it works on react-router v4.
Closing this one.

[2017-06-25 16:04] #14 closed

[2017-06-25 16:05] amoghbanta commented on #5
It should not now, after the rewrite. Please give it a try.

[2017-06-25 16:05] #5 closed

[2017-06-25 16:10] amoghbanta commented on #15
hey @ximet, you might need to parse react-native-vector-icons in your webpack config.
[code]
Something like this would do the job. Sorry for the late reply, I hope you would have figured it by now. This is for guys who might be facing the same issue.

[2017-06-25 17:45] piranna opened #21 "OSX support"
Add support for OSX desktop applications with [React Native MacOS](https://github.com/ptmt/react-native-macos).

[2017-06-25 17:49] #19 closed

[2017-06-25 17:50] piranna commented on #19
Oh cool, thanks! :-D

[2017-06-25 17:50] amoghbanta commented on #10
I think, the rewrite to template resolves this.

[2017-06-25 17:50] #10 closed

[2017-06-26 11:09] #15 closed

[2017-06-26 11:11] ximet commented on #15
@amoghbanta Thank you! I had resolved already this issue

[2017-06-27 15:45] berstend opened #23 "Doesn't work out of the box, `Module not found: 'react/lib/React'`"
Hi there,

after following the latest install-with-template instructions and running `yarn run web` the following error appears:

[code]

Steps:
[code]

I thought that maybe `react-dom` is too old and upgraded to `16.0.0-alpha.12`, which changed the error to:

[code]

Any idea where the issue might be?

I've added my current package.json here:
https://gist.github.com/berstend/02e2b3b8319a051f86353

[2017-06-27 16:16] amoghbanta commented on #23
Seems to be a compatibility issue with react-native-web. It is not ready for react 16 yet. Look at the note [here](https://github.com/necolas/react-native-web#quick-start).
- Replace your package.json with the content in the gist below:
    https://gist.github.com/amoghbanta/d0bf78ff4e29100a311f9ab2987cf9c6
- delete your node_modules:
  `` rm -rf node_modules``
- install new dependencies:
 ``yarn

[2017-06-28 12:03] berstend commented on #23
Great, thanks for the fast reply @amoghbanta

I've followed your instructions (as well as removing the `yarn.lock` file) and got this error:

[code]

After adding `babel-plugin-transform-react-remove-prop-types` as dependency the above error was resolved and the demo runs smoothly now. 🎉

Thanks a lot!

[2017-06-28 12:03] #23 closed

[2017-07-03 09:35] piranna commented on #9
Totally agree with this :-D

[2017-07-03 09:43] piranna commented on #9
[code]

That's A LOT of outdated dependencies that would need to be upgraded... @greenkeeper and having unit tests would fix them.

[2017-07-03 09:59] piranna opened #24 "Unmeet peerdependencies"
[code]

How can this be fixed? It's the first time that I works with ReactNative...

[2017-07-03 10:10] piranna commented on #24
There are dependencies conflict, `react-dom` requires `react@15.5.4` but other dependencies requires `react@15.4.2`...

[2017-07-03 10:10] piranna commented on #8
@amilajack, do you have your tests and Travis support available somewhere?

[2017-07-17 18:51] piranna opened #25 "Add support for Electron"
Add support for Electron as a target platform. According to [this tutorial](https://www.twilio.com/blog/2015/12/getting-started-with-electron-building-a-desktop-chat-app.html) seems Electron apps can be heavily based on the web ones, being main difference the usage of non-relative-protocol URLs, that could be easily checked and change before building the Electron bundle.

[2017-07-20 18:46] amoghbanta commented on #25
Hi @piranna,
I've been working on this lately, please check the electron branch. Plan is to add support to master by this weekend.

[2017-07-20 19:10] piranna commented on #25
Cool! I'll take a look in the next days :-)

[2017-07-23 20:35] piranna commented on #25
Is there any way to update a project? Or should I apply these changes by hand?

[2017-07-24 05:48] amoghbanta commented on #25
as of now, you have to do it by hand but there needs to be a way to do it. I'll look into it.

[2017-07-31 04:38] amoghbanta commented on #8
@piranna @amilajack, if any of you can find some time, can you make a PR for this?

[2017-07-31 06:13] piranna commented on #8
Without @amilajack tests it will be complicated, being a template I don't know what to test exactly... :-/

[2017-07-31 06:18] piranna opened #27 "Add all dependencies to package.json"
Template dependencies are in separated files, so greenkeeper can't control them. I propose to add them as dependencies or devDependencies so they can be check and updated automatically, and later select the ones that need to be installed on the project instance from some lists, similar to what I'm doing with user dependencies on [NodeOS](https://github.com/NodeOS/nodeos-usersfs/blob/master/package

[2017-08-11 14:59] piranna commented on #25
Any update on this?

[2017-09-17 21:09] christopherhein commented on #25
I see the `README.md` has been updated to reflect the electron changes and the code seems to be there but the `npm` package doesn't include it.

Looks like using file path for `--template` isn't building correctly. Not sure if that is intended. I get a lot of `incorrect peer dependency XYZ` as well from file path off `master` I get `cannot lstat(node_modules/re-start)`

[2017-09-17 21:15] piranna commented on #25
Dependencies are a bit outdated, I'm trying to have them up-to-date on my project but it's not possible to doing so with all of them. Also `peerDependency` problems seems to be common, there's a lot of dependencies that themselves depend on several versions. I think it would be a difficult one to fix.

[2017-09-29 15:43] piranna opened #29 "Update to React 16"
React 16 has been published just yesterday and several dependencies has upgraded to be uptodate. Update the template so we can use the latests features.

[2017-09-30 09:09] anthonycmain opened #30 "iOS not running"
I've just tried running a fresh installation from the README. The web version seems to run up fine, but the iOS version has AppRegistry issues

<img width="284" alt="screen shot 2017-09-30 at 10 09 04" src="https://user-images.githubusercontent.com/950131/31044444-6ddeaa4e-a5c7-11e7-9ba4-23db35a116b0.png">

[2017-10-01 18:55] amoghbanta commented on #29
react-native has still not migrated to react 16 completely. Once that is done, i'll upgrade everything for sure.

[2017-10-01 18:57] amoghbanta commented on #27
Thats a really good idea. I'll try to do something like this.

[2017-10-01 18:59] piranna commented on #29
Cool, thanks :-)

[2017-10-01 18:59] amoghbanta commented on #25
Hey,
sorry for the delay, i'll update all the dependencies soon after react-native releases their version compatible with react 16 (that'll be react-native 0.49 I think) and also update the npm package with electron support.

[2017-10-01 19:01] piranna commented on #27
If you need some help, my [buildDependencies](https://github.com/piranna/buildDependencies) module can be useful, or at least being used for inspiration.

[2017-10-01 19:02] piranna commented on #25
Ok, thanks. Currently I have been keeping updated some of the dependencies, maybe I could be able to do a pull-requests with them if you want...

[2017-10-01 19:05] amoghbanta commented on #25
That would be great :)

[2017-10-01 19:11] piranna commented on #25
I'll try to find some time to do it, there are some other fixed that need to be done too :-)

[2017-10-02 08:41] hgonzalez94 commented on #30
same :(

[2017-10-02 15:48] amoghbanta commented on #30
can you please share how your package.json looks like, that might help figure out the issue.

[2017-10-02 16:14] anthonycmain commented on #30
Here's a copy of mine, I've made no changes to it other than from the create scripts

[package.json.txt](https://github.com/react-everywhere/re-start/files/1349541/package.json.txt)

[2017-10-02 16:15] anthonycmain commented on #30
Sorry previous upload was wrong.

Here is mine, I made no further changes to it other than the Create Scripts

[package.json.txt](https://github.com/react-everywhere/re-start/files/1349551/package.json.txt)

[2017-10-06 01:56] acgourley opened #32 "iOS build failing with error undefined is not an object (evaluating 'nativeVersion.major')"
<img width="355" alt="screen shot 2017-10-05 at 6 55 17 pm" src="https://user-images.githubusercontent.com/7680/31259839-d8f9e678-a9fe-11e7-8c4f-dd31b69ff93a.png">

[2017-10-09 14:26] piranna opened #33 "Add re-start as dependency"
Add re-start as dependency on the template so it can be able to find updates on the template itself. This would allow to add a script that updates the dependencies or add new ones, like the èlectron` one that was added recently.

[2017-10-11 05:38] willshu2049 commented on #32
Same problem here.

[2017-10-11 06:02] chenyunjie commented on #32
check the react native version of bundle and the bundle loader.

[2017-10-11 11:47] Reiji87 commented on #32
Same problem here... any solution?

[2017-10-14 12:57] alchy58 opened #36 "Tested dependencies"
Hi,
Thank you for your awesome work !
I need to build a cross-platform app and your project seems to be the perfect boilerplate to start.
I just have issues with react versions, react@16.0.0-alpha.6, react@15.4.x || 15.5.x, react-native@~0.42.0, I become crazy.
Please, can you clarify which version to use, as of now, I can't make re-start working out of the box.
Thank you very much again for your

[2017-10-14 17:28] Evaske commented on #30
Had the same issue. I started a project with the folder name EveryWhereTest. For some reason, it called the component in index.ios.js only "everywhere" so that it was complaining that EveryWhereTest wasn't registered.

Have a look in your index.ios.js and make sure that the three locations in your case say TDAppFramework.

[code]

I suspect it has probably done it as something like tdapp instead.

[2017-10-14 21:24] timothystewart6 commented on #32
I had a similar issue because I manually updated a few things.  The current `CRNA` generates an app with these versions:

`package.json`
[code]

`app.json`
[code]

After reverting some of my updates, it started working again.

[2017-10-15 13:22] alchy58 commented on #36
I finally success to work with Node 8 and the following package.json
[code]

[2017-10-15 15:40] #36 closed

[2017-10-18 13:51] fasibio commented on #32
Same problem by android

[2017-10-18 18:40] welshamy commented on #32
Same problem after upgrading to exp 21.0.0

[2017-10-20 18:13] gretzky opened #37 "Several problems"
There are no commands inside `package.json` to run the windows or electron builds.

There's also no documentation regarding the prerequisites to run the iOS or Android builds in development.

The amount of dependencies is huge, and there's no way to bundle or cache them provided.

Pretty disappointing that this doesn't actually run what it says it can 😕

[2017-10-20 19:29] piranna commented on #37
It would be good if they could be added so there's no need to use external tools to run all that's possible to do with re-start. Would you like to do a pull-request for that? :-)

Project is huge... @amoghbanta [was planning to use react-scripts](https://github.com/react-everywhere/re-start/pull/31#issuecomment-333578983), but seems to be busy lately... :-/

[2017-10-20 21:28] gretzky commented on #37
I'd love to contribute. I'll see what I can do to help.

[2017-10-20 21:28] #37 closed

[2017-10-23 10:57] kaliabadi commented on #32
Any progress?

[2017-10-25 10:37] emirotin commented on #23
I had the same issues with the fresh install. I'm currently trying to play with React 16 which was installed anyway as the dependency of react-native@0.49.3, so I have upgraded react-dom too. Have hit all these 3 errors, the final one being somethign wrong with the config in my understanding. So I had to add it to my dev dep too but that shouldn't be needed: https://github.com/necolas/react-native

[2017-10-25 11:09] emirotin commented on #25
Just encountered the same when trying out this project (which I want to use primarily for Electron now, and for native later).
react-native has 0.49.3 with React 16 now

[2017-10-25 11:15] piranna commented on #25
Pull-request for React 16 are welcome :-)

[2017-10-25 11:21] emirotin commented on #25
I'm experienced with React but am very new to react-native and all flavors of it. So cannot help here unfortunately, was hoping for this proj to help me get started :)

[2017-10-25 12:33] amoghbanta commented on #29
Hey @piranna,
Sorry, this took time. I've not been well for past month. I just pushed a new branch "react-16" which has react-scripts as we discussed. It is still a work in progress. You can test it if you want with following commands:
[code]
I would try to finish it up by this weekend and merge it into master. Also, if time permits, I will also be working on a global CLI for this project and abst

[2017-10-25 12:39] amoghbanta commented on #25
Hey @emirotin
Have a look at #29. This will be merged into master soon.

[2017-10-25 13:02] athmangude commented on #32
Kill and restart the packager

[2017-10-25 13:03] emirotin commented on #25
Nice @amoghbanta let me try it out!

[2017-10-25 13:15] emirotin commented on #29
Initial feedback for restart-test:

* run web: error because index.js tries to import the App class from outside of the src dir. Can be fixed by moving App.js to src/ and fixing the paths in the following files: index.js, src/index.js, index.windows.js, __tests__/App.js, and App.js itself (imports)
* run electron: the electron shell is opened, but then the actual page is still opened in Chrome whi

[2017-10-25 14:10] piranna commented on #29
I'm sorry to hear that, hope you are better now :-)

Lol :-P I have been updating the dependencies on my job project and the last missing piece was React 16, that's giving some problems. Good to know you have been able to move forward with `react-scripts`, I'll try to do a pull-request with the updates on the dependencies that I've done so far (everything except React related ones).

This was too

[2017-10-25 15:02] nkov commented on #32
I had this problem because I was running a packager for a different project in a different terminal session. (damn you tmux!)

[2017-10-25 17:34] piranna opened #38 "Sponsors section?"
The commits I have done recently on `re-start` is related to my work on http://www.quantum-ba.com/, so what about adding a section of "sponsors" and/or "companies using re-start" so we give them some credit? :-)

[2017-10-25 17:41] amoghbanta commented on #38
Sure!
that would be awesome 😄

[2017-10-25 17:48] amoghbanta commented on #29
@emirotin, thanks for the feedback, I forgot to publish latest changes to npm. Can you please try refreshing your electron shell, I am hoping that would work.

@piranna, this is exactly what needs to be done. Please also have a look at #31
I am thinking not to expose webpack config and scripts by default and make it optional for the advanced users. What are your views on it?

[2017-10-25 17:56] piranna commented on #29
I think it's nice to hide them, problem is when you need to customize it, for example to add more transformations. Options I see:

1. do nothing, just show them as regular files so people would work with them as with any project crafted by hand
2. add some mechanism to merge user customizations on the hidden files
3. check if there are user provided project files, and if not, use the default ones

[2017-10-25 18:18] piranna commented on #38
Done, I wanted to do a pull-request from online editor and since I had push requests it did it directly on master, sorry :-P

[2017-10-25 18:18] #38 closed

[2017-10-26 08:30] emirotin commented on #29
@amoghbanta yeah refreshing the electron shell does help.
Another issue: if I quit the electron shell (Cmd+Q) the builder process exits but the process occupying the port is still running as on the consequent run I see
[code]
This doesn't seem to happen when I terminate the builder with Ctrl+C

[2017-10-27 09:28] ProteanDev commented on #32
Kill and restart the packager, also make sure to terminate with properly your terminals by typing 'exit'

[2017-10-29 15:30] andrioid opened #39 "Please consider a license change to MIT"
Please consider changing the license from GPL to MIT (as React and React Native)

Since we'd be using this template as a basis for a project, I'm pretty sure anything you'd work on from it, would inherit the GPL license. Hence, this is not usable for companies that aren't willing to open-source their apps.

I might be overly cautious and I don't have a legal degree, but this would ease my nerves.

[2017-10-29 15:40] piranna commented on #39
Just to clarify, GPL license only affect to the tool, not the generated products. In this case, the template can be GPL, but the code of the project bootstrapped from it doesn't need to be so. A different thing would be if you do your own template based on this one, in that case the GPL license force that your custom template is also licensed as GPL.

[2017-10-29 16:04] chillyprig commented on #32
according to this docs: https://github.com/react-community/create-react-native-app/blob/master/VERSIONS.md

make sure you update the sdk version correctly in app.json too.

[2017-10-29 16:43] andrioid commented on #39
Sure, and I get why GPL was picked. I'd just rather not have the legal uncertainty.  If a GPL tool generates code, isn't the code also GPL? And anything you would build on that, would inherit GPL, right?

https://www.gnu.org/licenses/gpl-faq.en.html

If you read the part about Emacs and Bison, they say that it doesn't inherit the GPL license, because of the input is the user. If the input is a too

[2017-10-29 19:48] piranna commented on #39
I warrant you that not :-) I can't be able to pick you to some exact place to confirm that, but take for example the case of GCC compiler, that's also with GPL license and the compiled programs don't need too :-D

If you do a derivated template, then yes, It needs to be GPL too. Other thing is if this tool would be LGPL, then no, the derivated template can be any license you want, only would be GP

[2017-10-30 11:47] liorsh69 opened #40 "Move addDevDependencies script to an independent module."
Just came across with the addDevDependencies script.
Great way to solve the issue that RN templates aren't supporting devDependencies right now.
Other open source templates(including the one I'm working on right now) can benefit and support it if you can move it as a separate module.

[2017-10-31 16:17] amoghbanta commented on #39
Totally agree with @piranna, this was anyways on the to-do list for some time. re-start now MIT licensed. 😄
Closing this one.

[2017-10-31 16:17] #39 closed

[2017-10-31 16:19] amoghbanta commented on #25
Master now has the support for electron and I've published it to npm.
Closing this one.

[2017-10-31 16:19] #25 closed

[2017-11-01 10:45] JackWells commented on #24
So following the instructions, we get the errors as reported here.  Then we run the script "node scripts/addDevDependencies.js" (after cd-ing into the project folder, first, or it won't work) which is supposed to fix this, but we get some of the same errors, again.

How do we install the various needed versions or 'react' which will meet the dependencies of react-dom, react-native, react-router, a

[2017-11-01 11:09] piranna commented on #24
Seems it's a bit of mix-and-match, I have been updating web dependencies but seems it broke Android support. We'll need to add tests to be sure it works on all supported platforms, pull-requests are welcome.

[2017-11-01 16:58] mitajunior opened #41 "Native routing example"
How can move from one screen to another?

I have tried
```js this.props.router.push('/home') ```

But nothing is working

[2017-11-01 17:41] amoghbanta commented on #41
The template uses react-router out of the box. You can find the documentation [here](https://reacttraining.com/react-router/native/guides/philosophy). I don't think that programmatic routing is supported in their latest version.

[2017-11-01 17:41] #41 closed

[2017-11-02 07:58] JackWells commented on #24
Ok - I'm new to this (never used react-native framework before), so this is probably not the way it "should be done" - but this is how I got "npm run web" to work on my system:
https://www.pastiebin.com/embed/59facbd91864a
I haven't tried android and other builds, yet.  I'll update if I find a better combination of versions and/or when I learn how these changes could be correctly formed into a pul

[2017-11-02 08:08] piranna commented on #24
I think is more a problem of versions conflicts making several versions of the same package to be installed. Does anyone knows how to detect this situation and what packages are causing it? Having installed a single version of each dependency without warnings should fix that.

[2017-11-02 09:55] steelvelveteen commented on #32
Hi, I am having the same problem. Both in the app.json and the package.json files I have version 22.0.0 and nothing works. It's being really painful. Any fix for this by now?

[2017-11-03 20:15] piranna commented on #29
React Native 0.50 have just been released... It's time to finally move to React 16, isn't it? :-)

[2017-11-04 11:03] piranna opened #42 "re-core"
Now that we are going to have support for React16 and usage of `react-scripts`, I think it would be a good moment to modularize and stabilice the project.

My propose is to create a `re-core` project that's a streamlined version of `re-start`, that only has the barebones to do a multi-platform project. No `redux`, no `redux-router`, nothing: just only the `react-native` dependencies for each platf

[2017-11-04 13:51] amoghbanta commented on #29
on it, since a couple of days 😄
Will push by tomorrow for sure.

[2017-11-04 13:52] amoghbanta commented on #42
That's a great idea. Working on something similar. Will share with you tomorrow probably and have your suggestions on it 😄

[2017-11-04 19:00] amoghbanta commented on #42
hey @piranna, check [this](https://github.com/react-everywhere/re-start/tree/react-16/templates) out.
**re-base** will be the base template (what you wanted to do with re-core), based on which we can create more templates with different permutations and combinations of opinions and libraries and bootstrap any new project with a template that best fits the requirements.
So re-start will be a collec

[2017-11-04 19:40] amoghbanta commented on #42
It would be great if you could test a couple of templates:
[code]
its still a work in progress, and I'll be working on rest of the templates tomorrow.

[2017-11-04 20:04] piranna commented on #42
Honestly, the joke with the names starting with `re-` is going out of our hands... X-D Anyway, it needs some clean-ups, but it's exactly what I was talking about, good job :-)

[2017-11-05 11:38] piranna commented on #42
It fails to install :-(

[code]

Wouldn't it be better to move `re-base` to it's own project?

[2017-11-05 12:22] amoghbanta commented on #42
**re-base** and **re-start** are 2 different templates. You have to select one.
Try out:
[code]
or
[code]
re-base and re-start are totally isolated projects. They are just managed in a single repository.
Something like [react-router](https://github.com/ReactTraining/react-router) does with the help of lerna.

[2017-11-05 13:04] piranna commented on #42
Ok, it worked :-)

Issues:
- [ ] `package.json` gets minified in a single line instead of being indented and formatted.
- [ ] `registerComponent()` of `index.windows.js` uses `everywhere` instead of the project name as `index.js` does
- [ ]  port of Electron app is hardcoded to `3000` that could be being used for other process, use a random port (port zero and fetch the actual one being use).
- [

[2017-11-05 13:19] piranna commented on #42
- [ ] dependencies versions are hardcoded instead of setted by ranges. Don't know if this is on purposse to be sure they are compatible between them...
- [ ] integrate `dependencies.json` and `devDependencies.json` in builder `package.json` by using https://github.com/piranna/buildDependencies
- [ ] add simple test to just generate the bundles for each platform and be sure they are working
- [ ] a

[2017-11-05 13:23] piranna commented on #42
- [ ] add `eslint` configuration and integrate it by default with `jest` (I propose default config two spaces and no semicolons :-P)

[2017-11-05 19:17] mitajunior commented on #41
The routing part is not very clear, they should probably include more of that in the documentation...added [react-native-router-flux](https://github.com/aksonov/react-native-router-flux) and it works perfectly

[2017-11-05 20:52] Valeriy1991 opened #43 "Command failed: yarn add react-native@0.45.1"
### Step 1: Are you in the right place?

I hope.

### Step 2: Describe your environment

  * **template version** : 0.44.2
  * **react-native version**: 0.44.2
  * **OS** : Windows 10
  * **Platform causing error**: all
  * **react-native-cli version**: 5.5.1
  * **yarn version**: 1.3.2
  * **node.js version**: 8.9.0
  * **npm version**: 5.5.1

### Step 3: Describe the problem (try to include scre

[2017-11-06 05:26] amoghbanta commented on #41
How do you manage your routing for the web?
I don't think **react-native-router-flux** will work with **react-native-web**.

[2017-11-06 05:31] amoghbanta commented on #43
Hey, @Valeriy1991
I'll need some time to look into this. I've not been able to test it on windows. Meanwhile, you can use
[code]
rest everything will be same as the README says.

[2017-11-06 09:42] amoghbanta commented on #32
This should be fixed with the latest template.
[code]

[2017-11-06 09:42] amoghbanta commented on #30
This should be fixed with the latest template.
[code]

[2017-11-06 14:18] marcossk8 commented on #32
i'm solved it updating expo on the device

[2017-11-07 05:05] TPMinan commented on #32
i am having the same problem.

[2017-11-07 17:27] ReyHaynes opened #44 "React-Native Testing"
First off, I want to say, great template.

Unfortunately this does not test well. Even simply running `yarn run test` with a new initiated project will fail even though the build will run. Is there a way to get past that?

[2017-11-07 17:51] piranna commented on #44
I'm interested on the testing issue, could you be able to explain yourself? Maybe `re-base` template is better suited for that?

[2017-11-07 18:24] ReyHaynes commented on #44
After going through the install, running `yarn run test` in general fails the rendering stage.

![image](https://user-images.githubusercontent.com/4911931/32510411-87cc4c44-c3be-11e7-8d83-09b60c66e349.png)

The error is pretty obvious for a react-native build test, but even removing `window` will lead a line of other errors.

Would love to know if that is just a thing that isn't avoidable because

[2017-11-07 18:28] piranna commented on #44
Maybe could you be able to try to fix the errors and do a pull-request?

[2017-11-07 18:45] ReyHaynes commented on #44
That'd be great @piranna!

[2017-11-09 07:45] Valeriy1991 commented on #43
@amoghbanta hi! I'v tryed this commands as you recommended:
[code]

On 3rd command (`node scripts/additionalDependencies.js`) I've get an other error:
![screenshot](https://i.imgur.com/2wlRS7g.png)

[2017-11-09 08:51] amoghbanta commented on #43
That seems to be an issue with Yarn on Windows.
cc @piranna, any idea about this?

[2017-11-09 09:01] piranna commented on #43
I'm not a Windows or yarn user, sorry :-(

[2017-11-09 12:36] miguelocarvajal commented on #42
I like where this is going. I will be testing this out myself in the following days.

I wanted to see if it would be possible to set this up with Expo as well (so that yarn run web works but mobile side uses Expo). Has anybody done any testing with it?

[2017-11-09 17:35] piranna commented on #42
Dependencies got upgraded:

[code]

[2017-11-09 21:30] piranna commented on #42
- [ ] `babel-plugin-transform-react-remove-prop-types` devDependency should be removed too, specially if it's not enabled by default.

[2017-11-11 20:04] Valeriy1991 commented on #43
@amoghbanta Hi! I found that after running this commands:
[code]
and when failed last 3rd command, in the folder `MyProjectName` I'm have `devDependencies.json` with this content:
[code]
But in the repository this file contains much more dependencies: https://github.com/react-everywhere/re-start/blob/master/devDependencies.json

May be, an error occured because of this short contents of file `devD

[2017-11-11 20:24] Valeriy1991 commented on #43
Also I found that next files is **missed**:
- `scripts/build.js`
- `scripts/start.js`
- folder `config` with nested js-files for webpack
- `index.web.js`
- `eslintrc`

After adding this files I was able to run the application 😅  But I'm confused that the blue background is not stretched to full screen:
![](https://i.imgur.com/0NmNyd8.png)
All it's okay with this app (for web)?

[2017-11-14 09:25] #30 closed

[2017-11-15 05:16] albertparedandan opened #45 "index.android.js and ios missing"
### Step 1: Are you in the right place?

  * For issues or feature requests related to the code **this template** file a Github issue.
  * For issues regarding react-native, post a question on [StackOverflow](http://stackoverflow.com/) tagged appropriately or visit react-native's [issues page](https://github.com/facebook/react-native/issues).

### Step 2: Describe your environment

  * **template

[2017-11-15 20:27] jcampbell05 opened #46 "Add Mac OS as a platform"
You have the UMP platform supported but there is also a great library for adding native MacOS support that would be awesome to be included.

https://github.com/ptmt/react-native-macos

[2017-11-15 20:34] piranna commented on #46
Pull-requests are welcome :-D I think it would be cool if you add the support on the [re-base](https://github.com/react-everywhere/re-start/tree/react-16/templates/re-base) template :-)

[2017-11-15 21:18] jcampbell05 commented on #46
Sure :) would love to :) is there a document I should read before I begin ?

[2017-11-15 21:30] piranna commented on #46
I don't think so, just only add the dependencies that you need on that template and use any of its `index.js` files as basis to make it work on OSX :-)

[2017-11-16 12:15] webfalcon commented on #32
I set same "jest-expo" version from package.json file into app.json "sdkVersion". Problem solved!

[2017-11-17 09:36] HeaDBanGer84 opened #47 "react-native-vector-icons not working on web"
Enviroment:
  * **template version** : (0.x.x) no clue how to find out...the version from yesterday
  * **react-native-vector-icons**: (4.4.2),
  * **react-native version**: ("0.50.3)
  * **OS** : Linux
  * **Platform causing error**: web

### Step 3: Describe the problem (try to include screenshots):

Try to include react-native-vector-items, which works pretty well on android, but not on the web

[2017-11-17 09:39] HeaDBanGer84 commented on #47
![bildschirmfoto von 2017-11-17 10-38-42](https://user-images.githubusercontent.com/11348045/32940657-92f37f58-cb83-11e7-9230-49ebc5df306d.png)
some screenshot

[2017-11-20 12:52] wintercounter opened #48 "Use rimraf instead of rm in additionalDependencies.js"
### Step 1: Are you in the right place?
Yes

### Step 2: Describe your environment

  * **template version** : 0.3.2
  * **react-native version**: irrelevant
  * **OS** : Windows
  * **Platform causing error**:  irrelevant

### Step 3: Describe the problem (try to include screenshots):

#### Steps to reproduce:

  1. Install the application
  2. Run `additionalDependencies.js`
  3. No such command

[2017-11-20 13:15] piranna commented on #48
Can you provide a pull-request?

[2017-11-20 14:28] amoghbanta commented on #48
Thank you for reporting @wintercounter.
I'll fix this and other open bugs tomorrow.

[2017-12-08 13:28] piranna commented on #42
Hi @amoghbanta, hope you are well. How is this going on? Is it ready to merge in `master`? I could be able to do myself the proposed changes but I was waiting to the branch getting merged first before doing so... I know I have permissions on this repo, but being your repo I think this kind of decission are better done by you, specially since you have the publish permissions on `npm`. What about do

[2017-12-10 21:11] mndvn commented on #45
Hi Albert, They are not missing. In the React-Native 0.51, There is only one index.js file for ios, android and web. This template supports React 16 and React Native 0.51

[2017-12-15 21:45] raimens commented on #47
I'm struggling with too :( :( :( or may I can say stuck

[2017-12-15 22:01] raimens commented on #15
Hi, sorry but I'm a little stuck here, I included this on Webpack, no error, but any icon are been displayed, Do I need to do any other change on code?

[2017-12-24 12:09] amorenew commented on #29
@amoghbanta is it now support react 16 or still react 15?

[2017-12-24 12:14] piranna commented on #29
Support for React 16 is in the [`react-16` branch](https://github.com/react-everywhere/re-start/tree/react-16).

[2017-12-24 19:33] amorenew commented on #29
@piranna brilliant library I use it here https://github.com/amorenew/LifeMaster

[2017-12-30 11:59] amorenew opened #49 "where is webpack config?"
I want to use cross-platform components from react native web
https://github.com/react-native-web-community
but I don't know where is the webpack config file? so  I can add alias to it

[2017-12-30 12:16] amorenew commented on #49
I found it in node_modules\react-scripts\config
but if I removed node_modules for any reason I will lost my alias for react native web components
any solution so I don't lost my changes in the webpack config?

[2017-12-30 12:33] piranna commented on #49
If you want to customize webpack config, execute `react-scripts eject`, and all the react-scripts internal configs will be set at project level, so react-scripts will not work anymore.

[2017-12-30 12:34] #49 closed

[2018-01-08 08:52] amorenew opened #50 "Firebase Host"
I tried firebase host and it is very helpful.
Just 1 command  "firebase deploy" and my react code will be online as a webpage.
I think it could be a nice feature.

[2018-01-10 09:09] jaulz opened #51 "Status of the project"
It seems that this project is abandoned. Any plan on continuing at some point in the future?
Anyway, great work so far and thanks a lot!

[2018-01-10 09:11] piranna commented on #51
I'm waiting for some answer from @amoghbanta, but it's not answering messages. Maybe he's having some problems. What about working on a fork and later merge it back when he goes online again? :-)

[2018-01-12 10:05] jiteshwadia commented on #32
Having the same problem here.

"react": "16.0.0",
"react-native": "0.50.1",

Tried killing and restarting the packager, npm install.

[2018-01-16 11:34] amoghbanta commented on #51
Hey @jaulz and @piranna, I was stuck somewhere and couldn't find out any time to work on this. I apologize for abandoning this project meanwhile. I have made some updates and fixes recently. Do check them out. Everything would be on track from now on.

[2018-01-16 11:35] #51 closed

[2018-01-16 11:36] #45 closed

[2018-01-20 17:53] piranna opened #52 "Set templates to use `re-base` as dependency"
Set and define all templates to use `re-base` as a dependency so there's no duplicated code, and also would help to create new ones.

[2018-01-24 15:34] scriptjs opened #53 "Correct license in package.json"
package.json indicates GPL, everywhere else says MIT. Which is it?

[2018-01-24 18:46] piranna commented on #53
It should be MIT.

[2018-01-24 19:08] scriptjs commented on #53
If its MIT, please commit the change so this is not confusing.

[2018-01-25 06:36] #53 closed

[2018-01-25 06:38] amoghbanta commented on #52
This is on my mind too but I am not sure what is the right way to proceed forward with it. Any suggestions?

[2018-01-25 06:42] amoghbanta commented on #50
Hey @amorenew, I have not tried firebase host but tried out surge.sh, which does something similar. This sounds good. You can enhance re-base and create a new template and send a PR for the same. 😄

[2018-01-25 06:43] #50 closed

[2018-01-25 06:47] amorenew commented on #50
@amoghbanta is surge have published history like firebase host?
![image](https://user-images.githubusercontent.com/2842459/35374618-bf4634da-01b4-11e8-8ad4-9cf162056675.png)

[2018-01-25 20:00] piranna commented on #52
One easy option would be to apply `re-base` and later modify and tune-up the generated results, for example. Other option would be to have some kind of skeleton/placeholders/hooks so templates can attach and fill themselves.

[2018-01-31 22:46] zachdixon commented on #32
Not sure which one of these fixed it but I just did everything I could think of:
- Uninstall expo from simulator
- Close simulator
- Stop packager
- Delete node_modules folder
- yarn/npm install
- Start packager and simulator

[2018-02-15 08:31] Laurensdc commented on #32
I hate to do this as a developer, but learned this invaluable solution to almost any problem I just can't fix:
Turn it off and on again...

Restarting laptop did the trick for me. -_-

[2018-02-17 13:42] StefanoCremona commented on #32
In Android I had the same problem under the release configuration. It was because I had a boundle created with a previous build. It was enough to recreate the bundle.

[2018-02-24 03:45] imspikey opened #56 "is there is bugs in initial project?"
In the main web index.js
import {
    Platform,
    StyleSheet,
    ReactNative,
    Text,
    View
} from 'react-native';
....
ReactNative.render(<App />, document.getElementById('root'));

is this a bug in the code or Im missing somthing??!

the web code didn't run until I changed the index.js  to this =>

`
import ReactDOM from 'react-dom';
...
ReactDOM.render(<App />, document.getElementById('

[2018-03-10 05:36] 1337rooster opened #57 "Question: Is it possible to build a system keyboard for android/io with react-everywhere?"
Topic. Or can you only build an in app keyboard?

[2018-03-10 06:05] amoghbanta commented on #57
I think what you are looking for is https://github.com/wix/react-native-keyboard-input.

[2018-03-10 06:18] 1337rooster commented on #57
Wow thank you for the pointer and fast reply :). This looks awesome! Really appreciate it

[2018-04-04 05:39] #57 closed

[2018-04-04 05:40] #29 closed

[2018-04-04 05:41] #48 closed

[2018-04-08 12:14] lusan opened #58 "Changes in App.js is not compiling"
* **template name** : re-start
  * **template version** : (0.x.x)
  * **react-native version**: 0.54.2
  * **OS** : osX
  * **Platform causing error**: (android/ios/web/electron)

Any change I make in the App.js file, it does not compile at all, hence I am unable to add new route.
Please help, or am I doing something wrong?

#### Observed Results:

![40ee1501bfbc2cc821bd9348d3244fa4](https://user-

[2018-04-10 16:59] hasparus commented on #58
Isn't index.js used instead of App.js? They look like duplicates.

[2018-04-10 17:08] piranna commented on #58
I usually delete the one at project root, seems useless.

[2018-04-10 17:15] lusan commented on #58
@piranna can you suggest any solution for my issue?

[2018-04-10 19:26] piranna commented on #58
Sorry, I don't understand your problem from the description :-(

[2018-04-11 07:37] piranna commented on #52
According to [react-native-cli source code](https://github.com/facebook/react-native/blob/26684cf3adf4094eb6c405d345a75bf8c7c0bf88/local-cli/generator/templates.js#L125-L145), it seems to me that's possible to define `dependencies` on a template dummy `package.json` file, and since they are installed using `npm install` and copied its content to the current folder, then a template would have as de

[2018-04-13 17:08] hasparus commented on #58
@lusan Okay, from the gif you posted I see you're running web dev server. /App.js is an entry point for native apps and /src/index.js is the same for the web version. It's not your fault, don't worry. IMO we shouldn't specify routes in more than one place. Current solution is far from DRY 💧.

Just linked my PR with code that can help you, @lusan.

[2018-04-13 18:45] piranna commented on #58
I'm working on a full clean-up of the project at https://github.com/piranna/re-start, hope I can be able to make it run today.

[2018-04-13 19:43] lusan commented on #58
@piranna That would be really great!

[2018-04-13 19:49] piranna commented on #58
So far first step done, get to install it. I've only been able to do it by [publishing the template on npm](https://www.npmjs.com/package/react-native-template-re-base_piranna), it doesn't work by using local filesystem or scoped packages due to a bug in `react-native` CLI at https://github.com/facebook/react-native/blob/26684cf3adf4094eb6c405d345a75bf8c7c0bf88/local-cli/generator/templates.js#L11

[2018-04-15 07:13] lusan commented on #58
@piranna sure! Looks good and will be of huge help

[2018-04-15 17:41] piranna commented on #58
Good you like them :-) Don't doubt to give any comment :-)

[2018-04-16 17:55] EchoFromTheNight commented on #58
A <Rooter/> can only have one child element.
Place all your <Route/> in a <View/>

[2018-04-16 19:59] piranna commented on #58
Could you be able to explain?

[2018-04-16 20:36] EchoFromTheNight commented on #58
Well, it's the message i got in the js console when i had the same problem so if i remember well, the following code :
`<Router>
    <View>
        <Route .../>
        <Route .../>
    </View>
</Router>`
should works.

[The documentation that confirm what i say :)](https://reacttraining.com/react-router/core/api/Router/children-node)

[2018-04-17 07:51] geminiyellow opened #61 "`react-native-web` version is too old"
### Environment

  * **template name** : re-start
  * **template version** : (0.3.2)
  * **react-native version**: (0.55.2)
  * **react-native-web version**: (0.1.13)
  * **OS** : (osX)
  * **Platform causing error**: (web)

### The problem

[code]

#### Expected Results:

Please update to the latest version. thank you.

[2018-04-17 08:01] piranna commented on #61
I confirm latests `react-native-web` works flawlessly with `re-start`, could you be able to provide a pull-request for that? :-)

[2018-04-17 08:12] geminiyellow commented on #61
oh, really ? here #62

[2018-04-17 08:54] #61 closed

[2018-04-22 11:39] piranna commented on #58
I've created an issue in React Native regarding the problems I had installing the templates from other places than the `npm` registry.

https://github.com/facebook/react-native/issues/18973

[2018-04-22 13:27] fufuninja commented on #32
In Android, gradlew clean and react-native run-android again. Not too sure for iOS but probably do a clean and rebuild like android

[2018-05-07 02:11] zetekla opened #63 "update react-native-web"
Please update react-native-web and provide a Hook or a way to perform platform specific code

eg:
[code]

[2018-05-07 07:14] piranna commented on #63
You need to check Platform.OS in your code.

[2018-05-24 09:30] yadavsachin opened #64 "undefined is not an object (evaluating in xxx.xxx) in safari."
xxx.xxx is works well in chrome and IE

[2018-05-24 10:12] yadavsachin commented on #64
I have function called
isCustomerDataAvailable(){
return this.data || IsNull(Data.Customer)
}

Data.Customer is basically return as "object" in chrome and IE
Strange thing is in safari also it returns me as "object" but sometimes it throws me error as below.
message: "undefined is not an object (evaluating 'Data.Customer')"

[2018-05-24 10:13] yadavsachin commented on #64
I found similar thread around this. Do I need try similar thing in my case
https://github.com/OneSignal/OneSignal-Website-SDK/issues/295

[2018-05-24 10:18] piranna commented on #64
Yes, you should do a similar fix, seems `Data` is not defined, whatever it is.

[2018-05-24 10:18] #64 closed

[2018-06-27 17:51] Alphapage opened #65 "UI library for cross platform"
Hello,

I can't find any info about compatible UI library for react-everywhere.
Do you only use style to customize your ui ?

Thank you in advance for your answers.

[2018-06-27 21:15] piranna commented on #65
There are several of them, for example I have been sucessful using https://github.com/xotahal/react-native-material-ui. Anything that don't make use of native components should work, and as a rule of thumb, if it's compatible with `react-native-web` it probably will run everywhere.

[2018-06-28 07:36] #65 closed

[2018-09-14 08:28] piranna opened #68 "Add support for React Native DOM platform"
https://github.com/vincentriemer/react-native-dom

It targets the web in the same way as `react-native-web` (used by the current `web` platform), but the build process is similar to the Windows platform by adding a new platform to React Native builder itself instead of monkey patching the libraries, it's multithreaded by default by using WebWorkers, and it's compiled to WebAssembly by using custom

[2018-11-02 08:56] piranna opened #69 "Add support for Carlo"
Add support for [Carlo](https://github.com/GoogleChromeLabs/carlo) as alternative to Electron.

[2019-02-26 23:47] thorakmedichi opened #70 "Jest encountered an unexpected token"
### Step 2: Describe your environment

  * **template name** : re-start
  * **template version** : ??? cloned repo a month ago
  * **OS** : linux (mint)
  * **Platform causing error**: jest in the ci

    "react-native": "0.55.4",
    "react-native-web": "0.9.13",

### Step 3: Describe the problem (try to include screenshots):
running `yarn test` and getting

`
Jest encountered an unexpected token

[2019-02-26 23:53] thorakmedichi commented on #70
This seemed to fix it. Hopefully removing the `transformIgnorePatterns` from web.jest.config.js is okay big picture :)

https://github.com/react-native-training/react-native-elements/issues/1227

[2019-02-26 23:53] #70 closed

[2019-02-28 23:30] thorakmedichi opened #71 "Jest tests taking longer than they should"
* **template name** : (re-start)
  * **template version** :  ??? from last month
  * **react-native version**: 0.55.4
  * **OS** : Linux Mint
  * **Platform causing error**: all?? CI?

### Step 3: Describe the problem (try to include screenshots):
Running `yarn test` or even just `yarn test:native` seems to take much longer than it should. Running locally on my machine, running in a docker contain

[2019-03-01 16:11] thorakmedichi commented on #71
Even if you can guide me on how to use `--detectOpenHandles`

[2019-03-01 19:33] thorakmedichi commented on #71
So for anyone following this I hacked this to solve my issue for now. I decided to just go around the entire re-start setup to solve the issue. It was the only way I could solve it with no direction from the repo owners.

So I changed package.json script test to be `jest` instead of `npm run test:native && npm run test:web`

Then I created my own jest.config.js file and put it in my root dir

[cod

[2019-03-25 02:15] gustavo-depaula opened #72 "Is this project still active?"

[2019-03-25 08:05] piranna commented on #72
I'm maintaining it, but don't have permissions to publish on `npm`... I'm thinking about renaming the project and publish it myself.

@amoghbanta, can you give us some light here, please? :-)

[2019-03-26 09:36] amoghbanta commented on #72
Hey @piranna, i have not had time to maintain this for some time now but have plans to come back to it soon. I'll add you to the npm organization. Thank you for all your efforts 😄

[2019-03-26 09:58] piranna commented on #72
You are welcome! :-D Thanks to you, I'm currently using it in several projects :-)

[2019-03-27 22:35] thorakmedichi opened #73 "Electron issues"
### Step 2: Describe your environment

  * **template name** : re-start
  * **template version** : Unsure... what existed a Feb 2019
  * **react-native version**: 55.4 (as per what the template had)
  * **OS** :Linux
  * **Platform causing error**: Electron

### Step 3: Describe the problem (try to include screenshots):
Running `yarn electron-builder` produces my AppImage but the screen is blank
R

[2019-03-27 23:41] piranna opened #74 "Add command to convert current project"
Develop a script that can convert a current Android / iOS ReactNative project in a re-base one by adding the extra platforms support and the missing management scripts. This could be based in the current `finishInstall` script.

[2019-03-28 00:07] thorakmedichi commented on #73
Resolved pack errors by changing
[code]

to

[code]

Screen still blank.

Upon opening the build folder and running the intex.html file locally it also is a blank screen. No errors showing in the dev console.

[2019-03-28 01:15] thorakmedichi commented on #73
So my white screen appears to have been an issue with `react-router`

It would appear that `BrowserHistory` wont work with electron so I had to change to `HashHistory`

[2019-03-28 08:44] piranna commented on #73
Can you provide a pull-request with your changes to have a record of them?

[2019-04-05 18:41] gustavo-depaula commented on #72
Thanks for the responses! Closing the issue...

[2019-04-05 18:41] #72 closed

[2019-04-11 00:49] thorakmedichi commented on #73
To be honest I don't know how this repo is put together. I just did a `react-native init <Your Project Name> --template re-start` and fixed from there.

I had to fix jest issues, webpack issues, package.json issues, index.electron.js issues etc AFTER that init.

I am happy to outline what we did though for the electron side if you want to add the PR yourself.

In package.json we added these script

[2019-04-11 00:57] thorakmedichi commented on #73
For our router issues - well we use react-navigation for RN as it has better animations and router handling than react-native-router. And for web we used react-router. To accomplish this we had to build some common interfaces and take advantage of the .web.js notation.

So we basically had
navigator.web.js
[code]

and navigator.js
[code]

Then anywhere in our app we could just do things like `Navi

[2019-04-11 01:14] thorakmedichi commented on #73
For our jest testing we found that the tests would lock up on us all the time so we changed package.json to be
[code]

Note the `--detectOpenHandles --maxWorkers=10`

[2019-04-11 01:17] thorakmedichi commented on #73
Oh and lastly we use react-native-elements (as I think a lot of people do) so we had to add the following to the `webpack.config.xxxxx.js` to the `include` below line 285
[code]

[code]

[2019-04-11 01:24] thorakmedichi commented on #73
Oh and one more... we found we had to change `babel.config.js` to
[code]

[2019-04-11 06:44] piranna commented on #73
The `re-start` template is obsolete, the new build process is to install the `re-base` template and all the customized ones on top of it, and after that exec the `finish-install` script.

[2019-04-11 07:41] piranna commented on #73
@amoghbanta can you provide me permissions on npm to fix that? I've already done a script to publish all new templates at once.

[2019-04-11 08:17] amoghbanta commented on #73
@piranna, done!
You have the access now. 😄

[2019-04-11 08:35] piranna commented on #73
Is it still give me login errors...

[code]

I'm logged in npm as `piranna`.

[2019-04-11 15:44] thorakmedichi commented on #73
okay good to know. We started this project about 1.5 months - 2 months ago and the readme.md that I see here now today is not what it was when we first found your library.

Cheers

[2019-04-15 13:31] amoghbanta commented on #73
Hey, @piranna, I just checked, you have admin rights on react-everywhere npm packages. If you could please check once again at your site, that'd be great.

[2019-04-15 14:47] piranna commented on #73
NOW it worked :tada: All published as 0.4.1 version, thanks! :-D

[2019-04-16 08:16] SG-XM commented on #43
I face with the same problem in windows10, but I couldn't find any solution in Goolge, even in 2019. Did you solve this problem?

[2019-04-16 08:17] piranna commented on #43
Really? Why are you using such an obsolete version?

[2019-04-16 08:21] SG-XM commented on #43
Actually, I am using new version, but this problem still exist.

java version "1.8.0_191"
Java(TM) SE Runtime Environment (build 1.8.0_191-b12)
Java HotSpot(TM) Client VM (build 25.191-b12, mixed mode)
PS D:\RNApp\MyApp> react-native --version
react-native-cli: 2.0.1
react-native: 0.59.4
PS D:\RNApp\MyApp> node --version
v8.9.4

[2019-04-16 08:25] piranna commented on #43
The same here. Please use a consistent environment with all dependencies updated to their latests version.

[2019-04-16 08:37] SG-XM commented on #43
Sorry, can you elaborate on it, what environment and what dependencies? I am a native app developer and this is the first time I try react. Thanks!

[2019-04-28 08:24] ZiaMM opened #78 "Babel-Jest and Jest Versions Incompatible w/ React-Scripts Dependency-Requirements"
### Step 1: Are you in the right place?

I think so, as it occurs when following the read-me instructions and is the result of node-package versions which specified in the package.json file, but incompatible.

### Step 2: Describe your environment

  * **template name** :re-start
  * **template version** : 0.0.1
  * **react-native version**: 0.59.5
  * **OS** : Linux
  * **Platform causing error**

[2019-04-28 10:49] piranna commented on #78
We currently don't have tests to check version updates break things, they would be nice. Also, we are thinking to move from using templates, to convert `finish-install.js` in an independent CLI to just add missing platforms to current projects, that would be more flexible. Main problem with that would be `web` platform, but if `react-native-dom` gets more mature, it would be easy.

[2019-05-02 11:57] alexis-regnaud opened #79 "Specific development only for electron platform like web/android/ios"
Is there a way to do a specific development only for electron device ? Use file.electron.js and the object Platform.select({electron: .... }), same to .ios / .android / .web

Thansk in advance !

[2019-05-02 21:19] piranna commented on #79
Electron platform is just web platform displayed inside Electron, so the platform is `web`. Why do you want to have a specific `electron` platform? Can't you be able to detect it as if it were another web browser? Maybe with presence of some Electron-only APIs?

[2019-05-06 00:07] steemdevelopment opened #80 "Everything saying depreciated"
Everything is saying deprecated while doing the install process. Web, is not setting up on either windows or ubuntu.

As for what is doing it, they all are doing it

Edit: Its also spitting this on everything
You must install peer dependencies

[2019-05-06 07:30] alexis-regnaud commented on #79
Thank for your answer, just to know if it was possible to do that (with same logical that .web, .android, .ios => .electron)
Specifically I had a problem with the navigation because I use "react-navigation" to mobile case and "react-router-dom" to web and electron cases. Except that web need BrowserRouter and electron need HashRouter, but I solve my problem with a conditional test with the help of

[2019-05-06 07:59] piranna commented on #79
Technically it's possible, but I don't know how to register the `.electron` prefix to use it when generating for `Electron` platform, and more specially if it's just `web` platform packaged inside Electron.

Why don't you use `react-router-native` for mobile? The `re-start_router` template has already an example how to unify both APIs...

Is that true? I didn't have any problem with default `Brows

[2019-05-06 08:16] alexis-regnaud commented on #79
Because I think that "react-navigation" have a better approach to mobile UI (Native design according to platform, respect of safe area, ...). "react-router-native" work but have a web approach.

If I use BrowserRouter only, in the Electron view I see the navbar but there is no action when I click on link (Router content doesn't change). And with BrowserRouter in web and HashRouter in Electron, it

[2019-05-06 08:28] piranna commented on #79
Does it shows the navbar? It shouldn't... anyway, you should not touch the navbar at all...

[2019-05-06 08:56] alexis-regnaud commented on #79
Yes there is the navbar but whatever the url (ex /first-page, /second-page, /third-page ,...), it's always the first screen define wich is display in the router content.
Here there is the same problem with the solution that I used : [how-to-use-react-router-with-electron](https://stackoverflow.com/questions/36505404/how-to-use-react-router-with-electron)

[2019-05-17 16:02] iPloDev commented on #43
@piranna the react-native-cli: 2.0.1 is the latest i think.

[2019-06-04 21:21] brandongroce commented on #78
First error related to this: https://github.com/Microsoft/react-native-windows/issues/2003

`finishInstall.js` fails due to expectation of `App.windows.js` after `react-native windows` fails.  Would it be better to `if (existsSync('App.windows.js'))` here so the install doesn't bomb out (given react-native-windows stability) or wrap it in a try catch?  Or is the expectation that you would want thi

[2019-07-20 15:18] piranna opened #86 "Add support for `react-native-desktop` and/or `proton-native`"
https://github.com/status-im/react-native-desktop
https://github.com/kusti8/proton-native

[2020-02-11 18:17] thorakmedichi opened #88 "Initial setup failing"
Just trying to follow the instructions to install from the docs here: https://github.com/react-everywhere/re-start

I want the full package, so following the directions I need to run the re-base install, then the re-route, then re-dux, then re-start. After installing those I need to run the ./finishInstall.js script.

When running ./finishInstall.js I get the following error:
[code]

Looking in pa

[2021-11-09 07:30] TimoGoetze opened #89 "Comment: Nothing works any more."
Just a comment for all readers and evaluators. It seems that this project needs contribution and is somehow really dysfunctional right now - at least on setting up a new app with this template.

As of now with node 6.13 lts, current package versions of issue date, Mac or Ubuntu OS, only the init works. First fail when running ./finishInstall.js - package version issues on windows init and later ru

[2021-11-09 09:31] piranna commented on #89
What's that version? I'm not sure it's an oficial one... Can you point me to it? Maybe it's a problem on the Node.js version you are using.

[2022-01-07 23:32] #44 closed

[2022-05-24 12:10] dharmateja7 opened #90 "I have created and added new files to a new branch in Git, so those files are not compiled in VS code."
The created file "modal.js" is not being compiled .
<img width="737" alt="Screenshot 2022-05-24 173220" src="https://user-images.githubusercontent.com/94349962/170030246-5b1fd57c-171d-4327-8de9-0f079fdca65d.png">

 The unadded file "jobstatus.js" will be compiled.
<img width="737" alt="Screenshot 2022-05-24 173257" src="https://user-images.githubusercontent.com/94349962/170031160-cc8bda3b-52d6-4e5